.profilePicLoading #fbTimelineHeadline .profilePicThumb{background:#FFFFFF url(/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat center center}.profilePicLoading .fbTimelineProfilePicSelector{visibility:hidden}.profilePicLoading .profilePic{opacity:.3}
._2vly{color:inherit;font-weight:inherit}

#bootloader_opLkj{height:42px;}.bootloader_opLkj{display:block!important;}