._eox{align-items:center;background-color:#f5f6f7;border-color:#dddfe2;display:flex;margin:10px 0}
.sp_cxJrgDSyfo7{background-image:url(/rsrc.php/v3/yA/r/RFJmCHZ5IZU.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_cxJrgDSyfo7.sx_ab1404{background-position:0 0}.sp_cxJrgDSyfo7.sx_64080f{width:12px;height:12px;background-position:0 -17px}

#bootloader_Gy7R0{height:42px;}.bootloader_Gy7R0{display:block!important;}