._6kdo{float:right;position:relative}
._6ijr{background-color:#f2f3f5;padding:7px 7px 6px 11px}._6ijr ._6ijs{background-color:#fff}

#bootloader_Oa1Ti{height:42px;}.bootloader_Oa1Ti{display:block!important;}