.pageSuggestTitle .icon{width:30px}
.sp_Vj8JtWOgNg-{background-image:url(/rsrc.php/v3/yY/r/C8umPvAvEyl.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_Vj8JtWOgNg-.sx_57bf48{background-position:0 0}.sp_Vj8JtWOgNg-.sx_d5f209{background-position:0 -17px}.sp_Vj8JtWOgNg-.sx_41ef1d{height:9px;background-position:0 -34px}

#bootloader_lbG75{height:42px;}.bootloader_lbG75{display:block!important;}